footer{
    background-color: whitesmoke;
}


#footer-ul a{
    color: black;
    padding-right: 5px;
    text-decoration: none;
}

#footer-ul a:hover{
    color: #fdd101;
}

.col-sm-4 #android{
    width: 40%;

}

.phone{
    color: black;
    
}

.phone:hover{
    color: #fdd101;
    text-decoration: none;
}
.location{
    color: black;
}

.location:hover{
    color: #fdd101;
    text-decoration: none;
}