*{
    padding: 0px;
    margin: 0px;
    
}
h1{
    color: #ffffff;
}

form{
    width: 40%;
    border-style: groove;
    background-color: #fcba03;
    margin-top: 6%;
    
    
}
#form-Radio{
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 0px auto;
    align-items: center;
}

form input{
    border-radius: 0.6rem;
    border-style: solid;
        width: 50%;
        padding: 15px;
        margin: 5px 0 22px 0;
        display: inline-block;
        background: #f1f1f1;        
}


form label{
    font-weight: bold;
    margin-top: 30px;
    text-align: left;
    
    
}
form button{
    background-color: #0a0a0af8;
    color: white;
    padding: 20px;
    margin: 5px 0 22px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  margin-top: 10px;
}

.signin {
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px;
    margin: 5px 0 22px 0;
  }
  span{
      display: block;
  }

.gender{
    /* padding: 0px;
    margin: 0px; */
    /* display: block; */
    text-align: justify;
}
a{
    color: #fcba03;
}

a:hover{
    color: black;
}

a:active{
    color: aqua;
}

