nav{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
.container-fluid{
    background-color: yellow;


}

.nav-link{
    color: black;
    padding: 5px;
}

.nav-link:hover{
    color: whitesmoke;
}

#logo1{
    width: 20%;
    
}

#form-control-rounded{
    margin-top: 30px;
    background-color: white;

}

.btn-default{
    background-color: yellow;
    box-shadow: none;
    
}

.col-sm-4{
    margin-top: 5%;
}

.tab-pane{
    font-family: 'Courier New', Courier, monospace;
}

.tab-pane .nav-item{
    font-weight: 600;
    border-bottom: 1px solid black;
}

.tab-pane .nav-item a:hover{
    color: yellow;

}


