*{
    font-family: 'Amazon Ember V2', sans-serif;
}
nav{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
#cf1{
    background-color: #fdd101;
}

.nav-link{
    color: black;
    padding-right: 5px;
}

.nav-link:hover{
    color: whitesmoke;
}

#post-btn{
    background-color: black;
    border: none;
    box-shadow: none;
}

.navbar-toggler{
    color: black;
}


/****End of top nav bar******/


/******logo and search******/




#logo1{
    width: 20%;
    
}

.form-control{
    margin-top: 30px;
    background-color: white;
    box-shadow: none;
    font-family: 'Courier New', Courier, monospace;
}
.form-control:focus{
    outline: none;
    box-shadow: none;
}



#search-btn{
    background-color: #fdd101;
    box-shadow: none;
    margin-top: 30px;

    
}


/******End logo and search******/

/****Side nav & slide********/



.col-sm-3{
    margin-top: 5%;
}

.tab-pane{
    font-family: 'Courier New', Courier, monospace;
}

.tab-pane .nav-item{
    font-weight: 600;
    border-bottom: 1px solid black;
}

.tab-pane .nav-item a:hover{
    color: yellow;

}

.col-8{
    margin-top: 5%;
}

.carousel-caption{
    font-family: monospace;
    color: black;
}
.carousel-inner{
    height: 280px;
}

/****Cards****/

.card-body{
    background-color: whitesmoke;
    font-family: monospace;
}
.card img{
    width: 100%;
}

.card button{
    color: white;
    background-color: black;
    border: none;
}
.card button:hover{
    background-color: #fdd101;
}

.card .btn:focus{
    box-shadow: none;

}
/****End of Cards****/



/**** End of Side nav & slide********/


/*****Compny goals*****/

.col-auto .card{
    background-color: whitesmoke;
}
#shield{
    width: 7%;
}
#tech-sup{
    width: 7%;
}
#quality{
    width: 8%;

}

#c-goal1{
    background-color: whitesmoke;
}

#c-goal2{
    background-color: whitesmoke;
}

#c-goal3{
    background-color: whitesmoke;
}



/*****ENd of Compny goals*****/


